<div style="background-color: rgba(255,255,255,0.9);" class="mdui-bottom-nav mdui-bottom-nav-scroll-hide mdui-color-blue-10 showInBottom a-time1 a-delay023">
  <a href="javascript:void(0);mdui.snackbar({
    message: 'Copyright © 2021 <br> FOREVERDDB™ <br> DdB\'s work 网站独立制作 <br> 网站内容仅供参考',
    position: 'bottom'
  });" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">book</i>
    <label>版权信息</label>
  </a>
  <a href="javascript:void(0);mdui.snackbar({
    message: '<a href=\'tel:17709015403\'><i class=\'mdui-icon material-icons\'>phone</i>DdB:17709015403</a>',
    position: 'bottom'
  });" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">phone_in_talk</i>
    <label>联系方式</label>
  </a>
  <a href="javascript:void(0);mdui.snackbar({
    message: '地址：四川省成都市成华区建设北路二段4号电子科技大学沙河校区<br>',
    position: 'bottom'
  });" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">location_on</i>
    <label>通讯地址</label>
  </a>
</div>